:root {
  --blackmain: #2A2A2A;
}
html {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--blackmain);
}
.navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.24);
}
.navegador div a {
  font-size: 1.6rem;
}
.navegador img{
  width: 2.5rem;
}
.navegador-links {
  display: flex;
  gap: 1rem;
  color: #FFF;
}
.navegador-links a {
  color: #FFF;
  text-decoration: none;
}
.header{
  background-image: url(https://images4.alphacoders.com/442/44298.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}
.header-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  text-align: center;
}
.header-heading h1, h2 {
  color: white;
  font-size: 4rem;
}
.main {
  display: flex;
  flex-direction: wrap;
  align-items: center;
}
.aside {

}
.articles {
  color: #FFF;
}
.description {
  width: 100%;
  padding: 3rem;
  background-color: #0F3147;
}
.description h3, p {
  color: #FFF;
  text-align: center;
}
.footer { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  color: #FFF;
}