
html {
  font-family: 'Roboto Mono', monospace;
}
.navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navegador div a {
  font-size: 1.6rem;
}
.navegador img{
  width: 2.5rem;  
}
.navegador-links {
  display: flex;
  gap: 1rem;
}
.navegador-links a {
  text-decoration: none;
}
.navegador-links a:hover {
  color: #FFF;
  text-decoration: none;
}
.header{
  background-image: url(https://images4.alphacoders.com/442/44298.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}
.header-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  text-align: center;
}
.header-heading h1, h2 {
  color: white;
  font-size: 4rem;
}
.description {
  position: relative;
  margin: auto;
  top: -5.5rem;
  width: 60%;
  padding: 3rem;
  background-color: #0F3147;
  border: 2px solid #FFF;
}
.description h3, p {
  color: #FFF;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: 30vh;
  border: 2px solid #FFF;
  border-radius: 2px;
  box-shadow: 2px #black;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  color: #FFF;
}